<div class="card">
    <div class="card-body">
        <div class="card-content">
            <h5 class="card-title">Brand:@vinylplayer.Name</h5>
            <h5 class="card-title">Brand:@vinylplayer.Name</h5>
            <h5 class="card-title">Brand:@vinylplayer.Name</h5>
            <h5 class="card-title">Brand:@vinylplayer.Name</h5>
            <h5 class="card-title">Brand:@vinylplayer.Name</h5>
            <h5 class="card-title">Brand:@vinylplayer.Name</h5>
            <h5 class="card-title">Brand:@vinylplayer.Name</h5>
            <h4 class="card-title"><a href="@vinylplayer.Url">Click here to see her to see this Soundablegadget</a></h4>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Vinylplayer vinylplayer { get; set; }
}