html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

section {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    text-align:center;
}

