@page "/aboutme"

<PageTitle>About US</PageTitle>

<h1>Welcome to RetroGroove: Where Mucis History Lives On</h1>
<p>
At RetroGroove Records & Collectibles, we invite you to embark on a journey through the rich tapestry of music history. Nestled in the heart of Gilleleje, our shop is a haven for music lovers, collectors, and nostalgic souls alike.
</p>

<h2>Our Story</h2>
<p>
Esablished in 2024, RetroGroove was born out of a shared passion for preserving the magic of vintage music formats. Founded by Anna Nielsen, Walid Chan and Ellyas Zazi, three lifelong music enthusiasts, our shop began as a humble tribute to the timeless allure of vinyl records, CD’s, and cassette tapes.
Diven by a deep appreciation for music’s power to evoke emotions, spark memories, and transcend time, RetroGroove quickly blossomed into a beloved destination for discerning collectors seeking hidden gems and cherished classics.
</p>

<h2>Our Dedication to Music Lovers and Collectors </h2>
<p>
At RetroGroove, we are more than just a shop – we are guardians of musical heritage, curators of sonic treasures, and storytellers of bygone eras. With an extensive collection spanning genres, decades, and formats, we cater to every musical taste and preference.
Whether you’re seasoned collector hunting for rare finds, a vinyl enthusiast seeking the warmth of analog sound, or a newcomer eager to explore the wonders of music’s past, RetroGroove welcomes you with open arms.
</p>

<h2>What Sets Us Apart </h2>
<p>
What sets RereoGroove apart is our unwavering commitment to authenticity, quality, and customer satisfaction. Each item in our collection is meticulously curated, inspected and lovingly care for to ensure that it meets out highest standards of excellence. 
Beyond our curated selection, RetroGroove is a hub for community, connection, and shared love for music. From intimate listening sessions and vinyl swap meets to exclusive events featuring local artists and industry legends, we foster a vibrant, inclusive space where music enthusiasts can come together to celebrate their passion.
</p>

<h2>Join Us on the Journey </h2>
<p> 
As we continue to write the next chapter in RetroGroove’s story, we invite you to join us on this extraordinary journey through music history. Whether you’re browsing our online store or stepping through our doors, let RetroGroove be your guide to the timeless melodies, unforgettable moments, and boundless joy that only music can provide.
Thank you for choosing RetroGroove Records & Collectibles. Let the music play on.
 
</p>

<h1>Evaluation of current state</h1> 
<p>We rate all our used vinyl records based on the most recognized grading scale: the Goldmin Grading System. This scae originally appeared in 1974 in an issue of Goldmine Magazine. By pressing the different levels you can get to known more. </p>

<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-primary">MINT (M)</button>
    <button type="button" class="btn btn-primary">EXCELLENT (EX)</button>
    <button type="button" class="btn btn-primary">VERY GOOD (VG)</button>
    <button type="button" class="btn btn-primary">GOOD (G)</button>
    <button type="button" class="btn btn-primary">FAIR/POOR (F)</button>
</div>

@code {

}

