@page "/"

<PageTitle>Home</PageTitle>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">RetroGrove Records & Collectibles</h1>
        <h3 class="fw-normal text-muted mb-3">There's a saying that goes like:</h3>
        <h3 class="fw-normal text-muted mb-3">Old is Gold...</h3>

    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<h1>Welcome to RetroGroove: Where Music Memories Are Revived</h1>

<p>
    Step into RetroGroove Records & Collectibles, where the echoes of music's golden eras still resonate, and every vinyl record tells a story of its own.
    Our store is a sanctuary for music enthusiasts and collectors alike, offering a curated selection of classic formats that embody the essence of nostalgia and the timeless love for music.
    From the warm crackle of vinyl to the cherished melodies of vintage CDs and cassette tapes, RetroGroove invites you to rediscover the magic of music on its most authentic platforms.
    Join us as we celebrate the enduring allure of analog sound and the joy of uncovering forgotten treasures, forging new memories, and reliving cherished moments through the power of music.
</p>

<h1 class="h1CenterText">5 products</h1>
<section class="productSection">

    <figure class="product1">
        <img src="/assets/vinylplade.latest.jpg" width="250" height="200" />
        <figcaption>Take the 'A' Train - Artist: Billy Strayhorn</figcaption>
        <button <!--href="...."-->Click for more details</button>
    </figure>

    <figure class="product2">
        <img src="/assets/cd-illustartion-thejmoore-removebg-preview.png" width="400" height="250" />
        <figcaption>My Man - Artist: Ben Webster</figcaption>
        <button <!--href="...."-->Click for more details</button>
    </figure>

    <figure class="product3">
        <img src="/assets/vinylplade.latest.jpg" width="250" height="200" />
        <figcaption>Blood on the Tracks - Artist: Bob Dylan</figcaption>
        <button <!--href="...."-->Click for more details</button>
    </figure>

    <figure class="product4">
        <img src="/assets/cd-illustartion-thejmoore-removebg-preview.png" width="400" height="250" />
        <figcaption>Kind of Blue - Artist: Miles Davis</figcaption>
        <button <!--href="...."-->Click for more details</button>
    </figure>

    <figure class="product5">
        <img src="/assets/vinylplade.latest.jpg" width="250" height="200" />
        <figcaption>A Love Supreme - Artist: John Coltrane</figcaption>
        <button <!--href="...."-->Click for more details</button>
    </figure>
</section>


<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Founders</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" <img src="./assets/Smiling_AdobeStock_35308534.jpeg" style="">
                <div class="d-flex flex-column h-100 p-5 pb-5 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Anna Frost</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                            <small>Odense</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                            <small>5d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" <img src="./assets/Student-with-more-access-to-academic-resources-due-to-efforts-to-boost-student-retention-and-persistence.jpg" style="">
                <div class="d-flex flex-column h-100 p-5 pb-5 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Walid Chan</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                            <small>København</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                            <small>5d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" <img src="./assets/phd-1536x1024.jpg" >
                <div class="d-flex flex-column h-100 p-5 pb-5 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Ellyas Zazi</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                            <small>Aalborg</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                            <small>5d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
