@page "/Login"

<form>
    <img class="" src="/assets/Smiling_AdobeStock_35308534.jpeg" alt="" width="72" height="57">
    <h1 class="">Please sign in</h1>

    <div class="">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    <div class="">
        <input class="" type="checkbox" value="remember-me" id="flexCheckDefault">
        <label class="" for="flexCheckDefault">
            Remember me
        </label>
    </div>
    <button class="" type="submit">Sign in</button 
    <p class=""></p>
</form>