@page "/Registration"
@using Npgsql
@using System.Drawing
@inject NavigationManager NavigationManager
@inject IWebHostEnvironment _hostingEnvironment
@inject List<Sound> allSounds
@inject List<Soundablegadget> AllSoundablegadgets
@using Domain_Models

<html>
<head>
    <meta charset="UTF-8">
    <title> Responsive Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="title">Registration</div>
        <div class="content">
            <form action="#">
                <div class="user-details">
                   
                        <div class="input-box">
                            <span class="details">Full Name</span>
                            <input type="text" @bind="FullName" placeholder="Enter your name" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Username</span>
                            <input type="text" @bind="UserID" placeholder="Enter your username" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Email</span>
                            <input type="text" @bind="Email" placeholder="Enter your email" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Phone Number</span>
                            <input type="number" @bind="PhoneNumber" placeholder="Enter your number" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Password</span>
                            <input type="password" @bind="Password" placeholder="Enter your password" required>
                        </div>
                    
                </div>
                <div class="button">
                    <input @onclick="SubmitUser" value="Register">
                </div>
            </form>
        </div>
    </div>
</body>
</html>


@code {
    public string? FullName { get; set; }
    public string? UserID { get; set; }
    public string? Email { get; set; }
    public int? PhoneNumber { get; set; }
    public string? Password { get; set; }

    public void SubmitUser()
    {
        string connectionString = "Host=ep-icy-king-a5d5u7sc.us-east-2.aws.neon.tech;Username=neondb_owner;Password=wzWv76MaoNOA;Database=neondb;sslmode=require";
        using var connection = new NpgsqlConnection(connectionString);
        connection.Open();
        using (var cmd = new NpgsqlCommand())
        {
            cmd.Connection = connection;

            cmd.CommandText = @"
            INSERT INTO bruger(FullName, UserID, Email, PhoneNumber, Password)
            VALUES(@FullName, @UserID, @Email, @PhoneNumber, @Password);";

            cmd.Parameters.AddWithValue("FullName", FullName ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("UserID", UserID ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("Email", Email ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("PhoneNumber", PhoneNumber ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("Password", Password ?? (object)DBNull.Value);







            cmd.ExecuteNonQuery();
        }

        NavigationManager.NavigateTo("/login");



    }
}
