<h3>SoundList</h3>

<PageTitle>Creating Listings</PageTitle>
<h1>Create a new listing</h1>

<h2>What type of item are you trying to sell? - underneath her i would like to add a text box that can read the input</h2>

<select>
    <option value="value"></option>
    <option ></option>
</select>

<h2></h2>


<select>
    <option>What is the name of your prod</option>
</select>

@code {

}
